# Banco
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=sua_senha
DB_NAME=crossfit_arena

# JWT
JWT_ACCESS_SECRET=crossfit_access_secret_change_me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=crossfit_refresh_secret_change_me
JWT_REFRESH_EXPIRES_IN=7d

# App
PORT=3004
NODE_ENV=development
DOMAIN=localhost
